<img src="images/usm.jpg" width="480" height="240" align="left"/>

# MAT281 - Laboratorio N°04

## Objetivos de la clase

* Reforzar los conceptos básicos de los módulos de pandas.

## Contenidos

* [Problema 01](#p1)
* [Problema 02](#p2)

## Problema 01


<img src="https://image.freepik.com/vector-gratis/varios-automoviles-dibujos-animados_23-2147613095.jpg" width="360" height="360" align="center"/>


EL conjunto de datos se denomina `Automobile_data.csv`, el cual contiene información tal como: compañia, precio, kilometraje, etc.

Lo primero es cargar el conjunto de datos y ver las primeras filas que lo componen:

In [ ]:
import pandas as pd
import os

In [1]:
# cargar datos
df = pd.read_csv(os.path.join("data","Automobile_data.csv")).set_index('index')
df.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

El objetivo es tratar de obtener la mayor información posible de este conjunto de datos. Para cumplir este objetivo debe resolver las siguientes problemáticas:

1. Elimine los valores nulos (Nan)

2. Encuentra el nombre de la compañía de automóviles más cara

3. Imprimir todos los detalles de Toyota Cars

4. Cuente el total de automóviles por compañía

5. Encuentra el coche con el precio más alto por compañía

6. Encuentre el kilometraje promedio (**average-mileage**) de cada compañía automotriz

7. Ordenar todos los autos por columna de precio (**price**)

## Problema 02


Siguiendo la temática de los automóviles, resuelva los siguientes problemas:

#### a) Subproblema 01
A partir de los siguientes diccionarios:

In [2]:
GermanCars = {'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'],
              'Price': [23845, 171995, 135925 , 71400]}
japaneseCars = {'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 
                'Price': [29995, 23600, 61500 , 58900]}

* Cree dos dataframes (**carsDf1** y **carsDf2**) según corresponda.
* Concatene ambos dataframes (**carsDf**) y añada una llave ["Germany", "Japan"], según corresponda.

#### b) Subproblema 02

A partir de los siguientes diccionarios:

In [4]:
Car_Price = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'Price': [23845, 17995, 135925 , 71400]}
car_Horsepower = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'horsepower': [141, 80, 182 , 160]}

* Cree dos dataframes (**carsDf1** y **carsDf2**) según corresponda.
*  Junte ambos dataframes (**carsDf**) por la llave **Company**.